-
  var path = current.path.length < 2 ? ["lv", "index"] : current.path;
  var lang = path[0];
  var page = path[path.length-1];
  var txt = public._data.txt[lang];

doctype
html(lang=lang)
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="/static/main.css" rel="stylesheet")
    title #{txt.headTitle} – #{txt.nav[page]}
    script (function(e){var o=e.createElement("link"),t=e.scripts[0];o.href="https://fonts.googleapis.com/css?family=PT+Sans";o.type="text/css";o.rel="stylesheet";t.parentNode.insertBefore(o,t)})(document)

    if page === 'index'
      script(type="application/ld+json")
        include _og.json
      script(type="application/ld+json")
        include _bc.json
      script(type="application/ld+json")
        include _sn.json

  body
    .l
      .c
        header
          a.home(href="/")=txt.company
          span.motto=txt.moto

          nav.languages
            .offScreen=txt.nav.change
            ul
              li
                a.lv(href="/lv/#{page}")=txt.nav.lv
              li
                a.en(href="/en/#{page}")=txt.nav.en
              li
                a.ru(href="/ru/#{page}")=txt.nav.ru

        nav.pages
          ul
            li
              a(href="/#{lang}/about") !{txt.nav.about}
            li
              a(href="/#{lang}/prices") !{txt.nav.prices}
            li
              a(href="/#{lang}/contact") !{txt.nav.contact}
            li
              a(href="/#{lang}/media") !{txt.nav.media}

        main
          block main
            != yield

        block footer
          include _footer
          +footer(txt.footer)

      .lm
      .rm

    script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-588f3e67d340e42c" defer)