-
    var path = current.path.length < 2 ? ["lv", "index"] : current.path;
    var lang = path[0];
    var txt = public._data.txt[lang];

div#navigationPanel.pac-card
    div#pac-container
        label(for="start")=txt.directionStart
        input#pac-input(placeholder=txt.enterLocation)
        input#end(value="56.948010, 24.124630" hidden="")
    div
        label.mode=txt.modeOfTravel
        select#mode
            option(value="DRIVING")=txt.driving
            option(value="WALKING")=txt.walking
            option(value="BICYCLING")=txt.bicycling
            option(value="TRANSIT")=txt.transit
div#map
div#directions
div#infowindow-content
    img#place-icon(src="" width="16" height="16")
    span#place-name.title <br>
    span#place-address

script
    include map.min.js

script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGbzsVZzP0b4yRMBOoqzsAwbQJmPRkOHs&callback=initMap&libraries=places")